<p>
  Your 'friend' <%= @user.name.capitalize %> wanted to let you know that you've changed.
</p>

<p>
  It might be for the better. It might be for the worse. But, hey, they wanted you to know.
</p>
